*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(11, 11, 11);
    color: rgb(244, 244, 251);
}
.hero h1{
    text-align: center;
    margin-top: 90px;
    background-color: rgb(238, 132, 132);
    color: black;
    padding: 10px;
   
}
.hero-image img{
    display: inline-block;
    margin-top: 90px;
    margin-left: 300px;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border: solid rgb(238, 132, 132) 5px; 
}
.para{
    display: inline-block;
    width: 500px;
    margin-left: 200px;
    margin-top: 150px;
    vertical-align: top;
}
.images img{
    height: 300px;
    width: 300px;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 50px;
    border: solid rgb(238, 132, 132) 5px; 
}
.images h1{
    text-align: center;
    margin-top: 0px;
    background-color: rgb(238, 132, 132);
    color: black;
    padding: 10px;
   
}

.one img{
    height: 200px;
    width: 200px;
}
.container img{
    height: 200px;
    width: 200px;
    border-radius:10px;
   

}
.container {
    width: 200px;
    display: flex;
    margin: 20px;
    margin-top: 50px;
    
}
.container div{
    height: 200px;
    width: 200px;
    margin: 40px;
   border: solid rgb(238, 132, 132) 5px; 
   border-radius:20px;
}
.container p {
    padding: 10px;
    text-align: center;
}
.container h3{
    padding: 10px;
    text-align: center;
}
.two h1{
    text-align: center;
    margin-top: 40px;
    background-color: rgb(238, 132, 132);
    color: black;
    padding: 10px;
}
.btn{
    padding: 10px;
    margin-left: 1000px;
    border: none;
    background-color: rgb(238, 132, 132);
    color: black;
    border-radius: 10px;
}
.images{
    margin-top: 200px;
}
.hero-image{
    margin-top: 50px;
}
.map img{
    margin-left: 500px;
    margin-top: 40px;
    height: 500px;
    width: 500px;
}
.map h1 {
     text-align: center;
     margin: 30px;
}
.nav ul li{
    float: right;
    margin: 20px;
    padding: 20px;
    list-style: none;
    font-style: none;
    
    
}
.nav a{
    text-decoration: none;
}
.nav ul li a:hover{
    color: rgb(238, 132, 132);
}
.tourist h1{
    text-align: center;
    margin: 30px;
}
/* .hero-image  {
    display: flex;
    width: 600;
}
.hero-image p{
    width: 400;
    margin-top: 200px;
    height: 300px;
}
.hero-image img{
    margin-left: 200px;
} */
 .tourist h1{
    background-color:  rgb(238, 132, 132);
    color: black;
    padding: 10px;
 }
 .map h1{
    background-color: rgb(238, 132, 132);
    color: black;
    padding: 10px;
 }
 .map img{
    border: solid rgb(238, 132, 132) 5px; 
    border-radius:20px;
 }
 .photo img{
    height: 500px;
    width: 600px;
    margin-left: 480px;
    margin-top: 40px;
    border: solid rgb(238, 132, 132) 5px; 
    border-radius:20px;
 }

